body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    background-color: #cccccc;
}

header {
    background-color: #222222;
    color: #cccccc;
    border-bottom: 4px solid #ffcc00;
    box-shadow: 0 2px 5px #666666;
    z-index: 1000;
}

header a, footer a {
    color: #ffffff;
    text-decoration: none;
}

header a:hover, footer a:hover {
    color: #ffcc00;
}

header nav.main {
    display: flex;
    flex-direction: row;
}

header nav.main ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-inline-start: 0;
}

header nav.main ul li {
    display: inline-block;
    margin: 0;
    padding: 0.5rem; 
}

header nav.main .logo {
    margin: 0.5rem;
    padding: 1rem 0;
}

footer {
    background-color: #666666;
    color: #cccccc;
    padding: 2rem 0;
    border-top: 4px solid #ffcc00;
}

.container {
    width: 70vw;
    margin: 0 auto;
    padding: 0 0.5rem;
}

aside.sidebar {
    background-color: #aaaaaa;
    border-right: 1px solid #cccccc;
    box-shadow: 2px 0 5px #666666;
    z-index: 900;
}

#sidebar-content {
    padding: 0;
}

aside.sidebar h2, aside.sidebar h3 {
    padding: 0.5rem;
    margin: 0.5rem 0;
    background-color: #999999;
    border-bottom: 1px solid #cccccc;
}

.block {
    display: block;
}

.hidden {
    display: none;
}

.float-right {
    float: right;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.btn {
    padding: 0.25rem 0.5rem;
    margin: 0.25rem;
    border: 1px solid #666666;
    border-radius: 0.2rem;
    cursor: pointer;
    background-color: #999999;
}

.btn:hover {
    background-color: #bbbbbb;
}
