<!DOCTYPE html>{% load static i18n %}{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MoNDA{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'mondev_site/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'mondev_site/css/mobile.css' %}">
    {{ form.media }}
    {% if user.is_authenticated %}
        <script>
            var user_auth_token = "{{ user.auth_token }}";
        </script>
    {% endif %}
</head>
<body>
    <header>
        <nav class="main">
            <span class="logo"><a href="{% url 'index' %}">MoNDA</a></span>
            <ul class="top-level-menu">
                {% if request.user.is_superuser %}
                    <li><a href="{% url 'admin:index' %}">{% trans "admin"|capfirst %}</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
    {% block messages %}{% if messages %}
        <div class="container">
        {% for message in messages %}
            <div class="box box-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
        </div>
    {% endif %}{% endblock messages %}
    {% block complex_content %}
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
    {% endblock complex_content %}
    </main>
    <footer>
        <div class="container">
            &copy; 2023 Middle of Nowhere Developer Academy
        </div>
    </footer>
</body>
</html>
