{% extends 'base.html' %}{% load i18n %}
{% block title %}{{ user_ }} {% trans "profile" %} | {{ block.super }}{% endblock title %}
{% block content %}
<h1>{{ user_ }}</h1>
{% if user_.profile and user_.profile.picture %}
<img class="user-profile-picture" src="{{ user_.profile.picture.url }}">
{% endif %}
{% if user_.first_name or user_.last_name %}
    <p>{{ user_.first_name|title }} {{ user_.last_name|title }}</p>
{% endif %}
{% if user_ == request.user %}
    <p>{% trans "e-mail"|capfirst %}: {{ user_.email }}</p>
    <p><a class="btn" href="{% url 'profile_update' %}">{% trans "update profile"|title %}</a></p>
{% endif %}
{% endblock content %}
