<!DOCTYPE html>{% load static i18n %}{% get_current_language as LANGUAGE_CODE %}{% get_available_languages as LANGUAGES %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MoNDA{% endblock title %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'mondev_site/favicon.ico' %}">
        <script>
            {% if user.is_authenticated %}
                var user_auth_token = "{{ user.auth_token }}";
            {% endif %}
            var sidebar_state_open_url = "{% url 'api_sidebar_state' 1 %}";
            var sidebar_state_closed_url = "{% url 'api_sidebar_state' 0 %}";
        </script>
    <link rel="stylesheet" href="{% static 'mondev_site/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'mondev_site/css/mobile.css' %}">
    <script src="{% static 'mondev_site/js/ui.js' %}"></script>
    {{ form.media }}
</head>
<body>
    <header>
        <nav class="main">
            <span class="logo"><a href="{% url 'index' %}">MoNDA.live</a></span>
            <ul class="top-level-menu">
                <li><a href="{% url 'course_list' %}">{% trans "courses"|title %}</a></li>
                <span class="spacer"></span>
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <li><a href="{% url 'admin:index' %}">{% trans "admin"|capfirst %}</a></li>
                    {% endif %}
                    <li><a href="{% url 'profile' %}">{{ request.user.get_username }}</a></li>
                    <li><a href="{% url 'logout' %}">{% trans "log out"|capfirst %}</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">{% trans "log in"|capfirst %}</a></li>
                    <li><a href="{% url 'signup' %}">{% trans "sign up"|capfirst %}</a></li>
                {% endif %}
                <form action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ redirect_to }}">
                    <select class="language" name="language" onchange="this.form.submit();">
                        {% for lang in LANGUAGES %}
                            <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %}selected{% endif %}>
                                {{ lang.1 }}
                            </option>
                        {% endfor %}
                    </select>
                </form>
            </ul>
        </nav>
    </header>
    <main>
    {% block complex_content %}
        {% block complex_sidebar %}
        <aside class="sidebar">
            <a class="btn dim text-right {% if request.session.sidebar_state %}block{% else %}hidden{% endif %}" id="sidebar-collapse" onclick="monda_collapse('sidebar');">{% trans "hide"|lower %} &#171;</a>
            <a class="btn dim {% if request.session.sidebar_state %}hidden{% else %}block{% endif %}" id="sidebar-uncollapse" onclick="monda_uncollapse('sidebar');">&#187;</a>
            <div id="sidebar-content" class="{% if request.session.sidebar_state %}{% else %}hidden{% endif %}">{% block sidebar %}
                <h3>{% trans "your courses"|title %}</h3>
            {% endblock sidebar %}</div>
        </aside>
        {% endblock complex_sidebar %}
        <div class="container">
            {% block messages %}
                {% if messages %}{% for message in messages %}
                    <div class="box box-{{ message.tags }}">{{ message }}</div>
                {% endfor %}{% endif %}
            {% endblock messages %}
            {% block content %}
            {% endblock content %}
        </div>
    {% endblock complex_content %}
    </main>
    <footer>
        <div class="container">
            &copy; 2023 Middle of Nowhere Developer Academy
        </div>
    </footer>
</body>
</html>
