@media screen and (max-width: 768px) {
    .container {
        margin: 0;
        width: calc(100% - 2rem);
    }
    main {
        overflow-x: hidden;
    }
    header nav.main ul li {
        display: none;
        margin: 0;
        padding: 0.5rem; 
    }
    header nav.main .burger {
        display: inline-block;
    }
}