@media screen and (max-width: 768px) {
    .container {
        margin: 0;
        width: calc(100% - 2rem);
    }
    main {
        overflow-x: hidden;
    }
    header nav.main .top-level-menu {
        display: none;
    }
    header nav.main .burger {
        margin-top: 1.5vh;
        display: inline-block;
        position: fixed;
        right: 0;
    }
    header nav.main .top-level-menu.active {
        display: flex;
        position: absolute;
        top: 5vh;
        height: 30vh;
        background-color: rgba(26, 26, 26, 0.733);
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}
