body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    background-color: #cccccc;
    padding-top: 5rem;
}

header {
    background: #222222;
    background: linear-gradient(0deg, #444444 0%, #000000 40%, #222222 80%, #333333 100%);
    color: #cccccc;
    border-bottom: 4px solid #ffcc00;
    box-shadow: 0 2px 5px #666666;
    z-index: 1000;
    position: fixed;
    width: 100vw;
}

header a, footer a {
    color: #ffffff;
    text-decoration: none;
}

header a:hover, footer a:hover {
    color: #ffcc00;
}

header nav.main {
    display: flex;
    flex-direction: row;
}

header nav.main ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-inline-start: 0;
    padding-right: 2rem;
}

header nav.main ul li {
    display: inline-block;
    margin: 0;
    padding: 0.5rem; 
}

header nav.main .logo {
    margin: 0.5rem;
    padding: 1rem 0;
}

.top-level-menu {
    width: 100%;
    padding-right: 0.5rem;
}

footer {
    background-color: #666666;
    color: #cccccc;
    padding: 2rem 0;
    border-top: 4px solid #ffcc00;
}

.container {
    width: 70vw;
    margin: 0 auto;
    padding: 0 0.5rem;
}

aside.sidebar {
    background-color: #aaaaaa;
    border-right: 1px solid #cccccc;
    box-shadow: 2px 0 5px #666666;
    z-index: 900;
    position: fixed;
}

#sidebar-content {
    padding: 0;
}

aside.sidebar h2, aside.sidebar h3 {
    padding: 0.5rem;
    margin: 0.5rem 0;
}

.block {
    display: block;
}

.hidden {
    display: none;
}

.float-right {
    float: right;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.btn {
    padding: 0.25rem 0.5rem;
    /* margin: 0.25rem; */
    border: 1px solid #666666;
    border-radius: 0.2rem;
    cursor: pointer;
    background-color: #999999;
    color: #000000;
    text-decoration: none;
}

.btn:hover {
    background-color: #bbbbbb;
}

.dim {
    color: rgba(0, 0, 0, 0.5);
}

.strike {
    text-decoration: line-through;
}

.spacer {
    flex-grow: 1;
}

.w100 {
    width: 100%;
}

form p label {
    width: 20vw;
    display: inline-block;
    border-bottom: 1px dotted #666666;
}

h1, h2, h3, h4 {
    background: #bbbbbb;
    background: linear-gradient(0deg, #aaaaaa 0%, #dddddd 80%, #ffffff 100%);
    border-bottom: 2px solid #ffcc00;
    padding: 0.5rem 1rem;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

h1 {
    background: linear-gradient(0deg, #bbbbbb 0%, #eeeeee 80%, #ffffff 100%);
    border-bottom: 3px solid #ffcc00;
}

.box {
    margin: 0.25rem 0;
    padding: 0,75rem 1rem;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    border: 1px solid #666666;
    background: #bbbbbb;
    background: linear-gradient(0deg, #aaaaaa 0%, #dddddd 80%, #ffffff 100%);
}

.user-profile-picture {
    max-height: 20vh;
}
