body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #cccccc;
    background-image: url("/static/mondev_site/images/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding-top: 5rem;
}

header {
    background: #222222;
    background: linear-gradient(0deg, #444444 0%, #000000 40%, #222222 80%, #333333 100%);
    color: #cccccc;
    border-bottom: 4px solid #ffcc00;
    box-shadow: 0 2px 5px #666666;
    z-index: 1000;
    position: fixed;
    width: 100vw;
}

header a, footer a {
    color: #ffffff;
    text-decoration: none;
}

header a:hover, footer a:hover {
    color: #ffcc00;
}

header nav.main {
    display: flex;
    flex-direction: row;
}

header nav.main ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-inline-start: 0;
    padding-right: 2rem;
}

header nav.main ul li {
    display: inline-block;
    margin: 0;
    padding: 0.5rem; 
}

header nav.main .logo {
    margin: 0.5rem;
    padding: 1rem 0;
}

header nav.main .logoimg {
    width: 5vh;
    padding-top: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

header nav.main .burger {
    display: none;
    margin: 0;
    padding: 0.5rem; 
}

.top-level-menu {
    width: 100%;
    padding-right: 0.5rem;
}

footer {
    background-color: #666666;
    color: #cccccc;
    padding: 2rem 0;
    border-top: 4px solid #ffcc00;
}

.container {
    width: 70vw;
    margin: 0 auto;
    padding: 0 0.5rem;
}

/* Style for the container holding the list */
ul.content {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
}

/* Style for each list item */
ul.content li {
    margin: 0.1rem 0;
    font-size: 1rem;
    background-color: #e0e0e0;
    transition: background-color 0.1s ease-in-out;
    padding: 0.5rem 1.5rem;
    border-radius: 0.1rem;
    box-shadow: 0 2px 5px #666666;
}

/* Style for list items on hover */
ul.content li:hover {
    background-color: #afafaf;
}

/* Style for normal links within list items */
ul.content li a {
    color: #474747;
    text-decoration: none;
}
  
/* Style for links on hover within list items */
ul.content li a:hover {
    color: #181818;
    text-decoration: none;
}

aside.sidebar {
    background-color: #aaaaaa;
    border-right: 1px solid #cccccc;
    box-shadow: 2px 0 5px #666666;
    z-index: 900;
    position: fixed;
}

#sidebar-content {
    padding: 0;
}

aside.sidebar h2, aside.sidebar h3 {
    padding: 0.5rem;
    margin: 0.5rem 0;
}

.block {
    display: block;
    transition: all 200ms ease-in;
    opacity: 1;
}

.hidden {
    display: none;
    opacity: 0;
}

.float-right {
    float: right;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.btn {
    padding: 0.25rem 0.5rem;
    /* margin: 0.25rem; */
    border: 1px solid #666666;
    border-radius: 0.2rem;
    cursor: pointer;
    background-color: #999999;
    color: #000000;
    text-decoration: none;
}

.btn:hover {
    background-color: #bbbbbb;
}

.dim {
    color: rgba(0, 0, 0, 0.5);
}

.strike {
    text-decoration: line-through;
}

.spacer {
    flex-grow: 1;
}

.w100 {
    width: 100%;
}

form p label {
    width: 20vw;
    display: inline-block;
    border-bottom: 1px dotted #666666;
}

p a {
    text-decoration: none;
    color: #444444;
}

h1, h2, h3, h4 {
    background: #bbbbbb;
    background: linear-gradient(0deg, #aaaaaa 0%, #dddddd 80%, #ffffff 100%);
    border-bottom: 2px solid #ffcc00;
    padding: 0.5rem 1rem;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}
h1 {
    background: linear-gradient(0deg, #bbbbbb 0%, #eeeeee 80%, #ffffff 100%);
    border-bottom: 3px solid #ffcc00;
}

.box {
    margin: 0.25rem 0;
    padding: 1rem;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    border: 1px solid #666666;
    background: #bbbbbb;
    background: linear-gradient(0deg, #aaaaaa 0%, #dddddd 80%, #ffffff 100%);
}

.box-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #357936;
}

.box-error {
    background-color: #f2dede;
    border-color: #cf7676;
    color: #ac3e3c;
}

.box-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

.user-profile-picture {
    max-height: 20vh;
}

table tr th, table tr td {
    padding: 0.25rem;
    border-bottom: 1px dotted #666666;
}

table tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

select.language {
    margin-top: 5px;
    padding: 2px;
    width: 100px;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #333;
    background-color: #cfcfcf;
    cursor: pointer;
}

select.language option {
    padding: 4px;
    background-color: rgb(97, 97, 97);
    color: #fff;
    font-size: 0.9rem;
}
