{% extends 'base.html' %}{% load i18n %}
{% block content %}
<h1>{% trans "updating member of"|capfirst %} {{ form.instance.course_group.name }}</h1>
<form method="post">
    {% csrf_token %}
    <h2>{{ form.instance.user.first_name }} {{ form.instance.user.last_name }}</h2>
    <p>{% trans "email" %}: {{ form.instance.user.email }}</p>
    <h3>{% trans "background"|capfirst %}</h3>
    <p>{{ form.instance.background|linebreaksbr }}</p>
    <h3>{% trans "application status update form"|capfirst %}</h3>
    {{ form.as_p }}
    <p>{% trans "The application is legally binding." %}</p>
    <button class="btn" type="submit">{% trans "update"|capfirst %}</button>
</form>
{% endblock content %}
