{% extends 'base.html' %}{% load i18n %}
{% block content %}
<h1>{{ course }}</h1>
<p>{% trans "price"|title %}: {{ course.price }} &euro;
    <a href="{% url 'coursegroup_list' course.code %}" class="btn btn-success">{% trans "enrollment" %}</a>
</p>
{{ course.description|safe }}

{% if topic_list %}
    <h2>{% trans "topics"|title %}</h2>
    <ul class="content">
        {% for topic in topic_list %}
            <li>
                <h3>{{ topic }} <span class="float-right small">&#8987; {{ topic.length }}</span></h3>
                {{ topic.description|safe }}
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock content %}
